[package]
name = "opcua-proxy"
description = "OPC-UA proxy"
version = "4.4.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.70"
clap-verbosity-flag = "2.0.1"
env_logger = { version = "0.10.0", default-features = false }
futures-util = "0.3.28"
mongodb = "2.4.0"
serde = { version = "1.0.159", features = [ "derive" ] }
signal-hook = { version = "0.3.15", default-features = false }
signal-hook-tokio = { version = "0.3.1", features = [ "futures-v0_3" ] }
tokio = { version = "1.27.0", features = [ "macros", "rt", "sync" ] }
tracing = "0.1.37"
trillium-client = { version = "0.3.1", features = [ "json" ] }
trillium-tokio = "0.2.1"
url = "2.3.1"

[dependencies.clap]
version = "4.2.1"
default-features = false
features = [ "std", "help", "usage", "error-context", "derive", "env" ]

[dependencies.opcua]
version = "0.11.0"
default-features = false
features = [ "client", "vendored-openssl" ]

[dependencies.tracing-log]
version = "0.1.3"
default-features = false
features = [ "std" ]

[dependencies.tracing-subscriber]
version = "0.3.16"
default-features = false
features = [ "ansi", "fmt", "parking_lot", "smallvec", "std" ]

[dev-dependencies]
serde_test = "1.0.159"
